#SaveButton
{   
    color: white;
    background-color: #22d048;
    width: 50vw;
    height: 30px;
    margin: 1px;
    font-weight: bold;
    opacity: 0.5;
}

#SaveButton:hover
{
    background-color:#22d048;
    color: white;
    font-weight: bolder;
    opacity: 1;
    transform:scale(1.01);
    border: #22d048;
}